body{
	background-color: #4F5B65;
	margin:0px;
	overflow-x: hidden;
	font-family: Inconsolata, monospace;
}
.navi{
	display: flex;
	text-transform: uppercase;
	width: 30%;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 10px;
	border-right: 2px solid  #216FBF;
}
a{
	text-decoration: none;
	color: #216FBF;
}
a:hover{
	color: #02D5D6;
}
ul{
	align-self: center;
	display: flex;
	flex-direction: column;
  	justify-content: space-around;
  	list-style: none;
  	text-decoration: none;
  	width: 100%;
  	padding: 0px;
}
.container{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;

}
.image-rounded{
	text-align: center;
	width: 100%;
	margin: auto;
	border-radius: 10px;
}